@import "tailwindcss";

@theme inline {
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-foreground: var(--text);
  --color-muted: var(--muted);

  --font-code: ui-monospace, SFMono-Regular, Menlo, monospace;
  --font-controls: ui-sans-serif, system-ui, sans-serif;
}

@utility container {
  width: 100%;
  max-width: var(--container-7xl);
  margin-inline: auto;
}
